/*
* @Author: dell
* @Date:   2017-08-17 16:01:58
* @Last Modified by:   dell
* @Last Modified time: 2017-08-17 16:02:59
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "微软雅黑","宋体";
}
a{
	text-decoration: none;
}
body{
	background: #fff;
}